*~
out/
obj/
build/

app/Release/
app/Debug/

Release/
Debug/

obsidian.sublime-dir
obsidian.sublime-workspace

#*
*#*
.#

TAGS
*.Makefile
GTAGS
GRTAGS
GSYMS
GPATH

*.png

*.a
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.sdf
*.sln
*.so
*.suo
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.opensdf

app.exe
log.txt

tools/python27/
