[submodule "ninja"]
 path = tools/ninja
 url = https://github.com/martine/ninja.git

[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui
